<section [ngClass]="{ativa: menuVisivel}">
  <h1>Masterkeep</h1>
  <img (click)="alternarMenu()" src="assets/menu.png" class="menu">

  <form>
    <div class="form-group">
        <input [(ngModel)]="dados.titulo" class="form-control" type="text" name="titulo" placeholder="Título">
    </div>
    
    <div class="form-group">
        <input [(ngModel)]="dados.conteudo" class="form-control" type="text" name="conteudo" placeholder="Conteúdo">
    </div>

    <button (click)="inserir()" class="btn btn-block btn-success">Salvar</button>
    <button (click)="limpar()" class="btn btn-block btn-danger">Limpar</button>
  </form>
</section>

<div class="quadro">
  <app-card *ngFor="let card of lista" [dadosCard]="card"></app-card>
</div>